	<!-- foot start -->
	<hr>
	<ul class="list-inline text-center">
		<div class="footer ">
		    <div class="container">
		        <div class="row footer-top">
		            <div class="col-sm-6 col-lg-6">
		                <h4>注意</h4>
		                <p>请酌情使用避免被和谐</p>
		            </div>
		            <div class="col-sm-6  col-lg-5 col-lg-offset-1">
		                <div class="row about">
		                    <div class="col-xs-3">
		                        <h4>关于</h4>
		                        <ul class="list-unstyled">
		                            <li><a href="https://github.com/yp05327/baiducloudhelper">项目地址</a></li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</ul>
	<!-- foot end -->