	<!-- head start -->
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
				  <span class="sr-only">Toggle Navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">百度云下载助手</a>
		    </div>
		
		    <div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">我的网盘</a></li>
					<li><a href="/task">我的任务</a></li>
		      	</ul>

				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text" id="pushCommand" style="left:100px;width:350px">状态：</p>
				</ul>
			</div>
	 	</div>
	</nav>
	<!-- head end -->